html{
	background-image: url("images/wood.jpg"); 
	opacity: 1;
	background-repeat: no-repeat;
	background-position: center;
}
body{
	font-family: Arial, Helvetica, comic sans-ms, georgia, sans-ms;
	margin: 0px;
	padding: 0px;
}
h1{
	font-family: comic sans-ms, georgia, sans-ms;
	color:black;
	font-size: 35px;
	font-weight: normal;
	text-align: center;
}
header{
	height: 100px;
	padding-top: 1px;
	background-color: #c8c8c2;
}
footer{
	height: 40px;
	padding-top: 20px;
	text-align: center;
	background-color: #999fa5;
	border-top: 2px solid #AAA;
}
nav{
	display: flex;
	justify-content: center;
	width: 100%; 
	background-color: #424558;
}
nav > ul{
	margin: 0px;
	padding: 0px;
	

}
nav > ul::after{
	content: "";
	display: block;
	clear: both;
}
nav > ul > li{
	position: relative;
	-moz-transition: all 1s; 
    -webkit-transition: all 1s; 
    -o-transition: all 1s; 
    transition: all 1s;
}
nav > ul > li > a{
	padding: 20px 30px;
	color: white;


}
nav > ul > li:hover a{
	padding: 15px 30px 20px 30px;
}
nav li{
	list-style-type: none;
	float: left;
}
.submenu{
	display: none;

}
nav a{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}
nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;

}
.left .img{
	position: relative;
	bottom: 55px;
	max-width: 100%;
	height: auto;
}
}
.submenu li{
	border-bottom: 1px solid #CCC;
}
.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

.menu-ind:hover, .presentation{
	border-top: 5px solid #007b07;
	background-color: rgba(144, 189, 147, 0.45);
}
.menu-exp:hover, .parcours{
	border-top: 5px solid #ff0000;
	background-color: rgba(250, 141, 141, 0.45);
}
.menu-hob:hover, .competences{
	border-top: 5px solid #0013ff;
	background-color: rgba(121, 193, 218, 0.45);
}
.menu-con:hover, .autres{
	border-top: 5px solid #e5e809;
	background-color: rgba(233, 235, 118, 0.45);
}
.menu-ind .submenu{
	background-color: rgb(150, 180, 140);
}
.menu-exp .submenu{
	background-color: rgb(240, 140, 140);
}
.menu-hob .submenu{
	background-color: rgb(121, 193, 218);
}
.menu-con .submenu{
	background-color: rgb(230, 230, 110);
}
.submenu li:hover a{
	color: #EEE;
	font-weight: bold;
}
.menu-ind .submenu li:hover{
	background-color: rgb(210, 77, 60);
}
.menu-exp .submenu li:hover{
	background-color: rgb(222, 40, 18);
}
.menu-hob .submenu li:hover{
	background-color: rgb(210, 77, 60);
}
.menu-con .submenu li:hover{
	background-color: rgb(210, 77, 60);
}
section{
	width: 100%;
	min-height: 300px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.sec{
	color:white;
	margin: 0px 10%;
}
.left{
	float: left;
	width: 30%;
}

.right{
	float: left;
	width: 70%;
	font-size: 17px;
}
.cleft, .cright, .sousleft, .sousright{
	width: 50%;
	float: left;
}
.sec::after, .exp::after{
	content: "";
	display: table;
	clear: both;
}
.orange{
	border-top: 5px solid #e47d26;
	background-color: rgba(228, 117, 38, 0.25);
	margin-bottom: 0px;
}
.rose{
	border-top: 5px solid #e44d96;
	background-color: rgba(228, 77, 128, 0.25);
	margin-bottom: 0px;
}
.blue{
	border-top: 5px solid #060cde;
	background-color: rgba(121, 193, 218, 0.25);
	margin-bottom: 0px;
}
.grey{
	border-top: 5px solid #626262;
	background-color: rgba(183, 183, 173, 0.25);
	margin-bottom: 0px;
}
.white{
	border-top: 5px solid #ffff00;
	background-color: rgba(223, 223, 120, 0.25);
	margin-bottom: 0px;
}
.leftexp{
	width: 45%;
	float: left;
	font-weight: bold;
}
.rightexp{
	width: 50%;
	float: left;
	margin-left: -5%;
	font-size: 17px;
}
.sousleft{
	font-weight: bold;
}
.leftexp img{
	width: 100%;
	max-width: 200px;
}
.formulaire{

}


	

@media screen and (max-width: 780px){
	header{
		height: 50px;
	}
	h1{
		font-size: 28px;
		margin: 20px 0px 0px 0px;
	}
	h2{
		font-size: 20px;
		margin: 20px 0px 0px 0px;
	}
	h3{
		font-size: 15px;
		margin: 20px 0px 0px 0px;
	}
	nav li a{
		font-size: 12px;
		padding: 10px;
	}
	nav li:hover a{
		padding: 5px 10px 10px 10px;
	}

}


@media screen and (max-width: 650px){
	header{
		height: 50px;
	}
	h1{
		font-size: 23px;
		margin: 20px 0px 0px 0px;
	}
	h2{
		font-size: 15px;
		margin: 20px 0px 0px 0px;
	}
	h3{
		font-size: 10px;
		margin: 20px 0px 0px 0px;
	}
	p{
		font-size: 10px;
	}
	nav li a{
		font-size: 12px;
		padding: 10px;
	}
	nav li:hover a{
		padding: 5px 10px 10px 10px;
	}

}